@charset "utf-8";
#links {
    width: 100%;
    height: 358px;
    background: #464646;
    .attention {
        margin-top: 50px;
        width: 100%;
        // height: 1000px;
        text-align: center;
        font-size: 16px;
        line-height: 80px;
        color: white;
        background-color: #464646;
        h2 {
            // display: block;
            // font-size: 1.5em;
            // margin-block-start: 0.83em;
            // margin-block-end: 0.83em;
            // margin-inline-start: 0px;
            // margin-inline-end: 0px;
            display: block;
            font-size: 2em;
            text-align: center;
            // margin-block-start: 0.67em;
            // margin-block-end: 0.67em;
            // margin-inline-start: 0px;
            // margin-inline-end: 0px;
            font-weight: bold;
            // font-weight: bold;
            // height: 30px;
            // font-size: 30px;
            // margin: 78px auto 35px;
            // display: inline-block;
        }
        p {
            // font-size: 16px;
            // line-height: 24px;
            background: #464646;
            width: 100%;
            height: 24px;
            color: #FFF;
            text-align: center;
        }
    }
    .content {
        width: 100%;
        height: 610px;
        background: orange;
    }
    .links_icon {
        padding-top: 80px;
        .left {
            display: inline-block;
            width: 75px;
            height: 75px;
            // margin: 0px 10px;
            margin-left: 690px;
            // margin-bottom: 80px;
            background: url(https://image.converse.com.cn/images/homepage/share.png) 75px 0px;
        }
        .right {
            display: inline-block;
            width: 75px;
            height: 75px;
            margin: 0px 10px;
            background: url(https://image.converse.com.cn/images/homepage/share.png) 75px -75px;
        }
    }
}

#footer {
    width: 100%;
    height: 180px;
    background: teal;
}